@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

:root {
  --font-color: #ffffff;
  --font2-color: #e3e3e3;
  --bg-color: #202020;
  --bg2-color: #6d6b6b;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family: Arial, Helvetica, sans-serif;
  padding: 25px;
}

h1,
h2,
h3 {
  text-align: center;
  color: var(--font2-color);
}

h2,
h3 {
  font-weight: 200 !important;
  font-size: 1.75rem !important;
}

.w-6em {
  width: 6em;
}

.w-4em {
  width: 4em;
}

.card {
  border: 1px solid lightblue;
  border-radius: 5px;
  padding: 10px;
  margin: 15px 15px 5px 15px;
  height: 90%;
}
